n8n-workflows/01-message-ingestion.json
{
  "name": "Message Ingestion (WhatsApp/Telegram)",
  "nodes": [
    {
      "parameters": {
        "path": "telegram-webhook",
        "options": {}
      },
      "name": "Telegram Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "path": "whatsapp-webhook",
        "options": {}
      },
      "name": "WhatsApp Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 500]
    },
    {
      "parameters": {
        "functionCode": "// Normalize message format\nconst platform = $node[\"Telegram Webhook\"].json ? 'telegram' : 'whatsapp';\nconst rawMessage = $input.item.json;\n\nlet normalizedMessage;\n\nif (platform === 'telegram') {\n  normalizedMessage = {\n    platform: 'telegram',\n    platformUserId: rawMessage.message.from.id.toString(),\n    username: rawMessage.message.from.username,\n    displayName: rawMessage.message.from.first_name,\n    messageText: rawMessage.message.text,\n    timestamp: new Date(rawMessage.message.date * 1000)\n  };\n} else {\n  // WhatsApp format\n  normalizedMessage = {\n    platform: 'whatsapp',\n    platformUserId: rawMessage.from,\n    username: rawMessage.pushname || rawMessage.from,\n    displayName: rawMessage.pushname,\n    messageText: rawMessage.body,\n    timestamp: new Date(rawMessage.timestamp * 1000)\n  };\n}\n\n// Check if it's a command\nconst isCommand = normalizedMessage.messageText.startsWith('/');\nnormalizedMessage.isCommand = isCommand;\n\nif (isCommand) {\n  const parts = normalizedMessage.messageText.split(' ');\n  normalizedMessage.command = parts[0].substring(1);\n  normalizedMessage.args = parts.slice(1);\n}\n\nreturn { json: normalizedMessage };"
      },
      "name": "Normalize Message",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [450, 400]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT timeout_until FROM user_violations WHERE user_id = (SELECT id FROM users WHERE platform = '{{ $json.platform }}' AND platform_user_id = '{{ $json.platformUserId }}') AND timeout_until > NOW() LIMIT 1"
      },
      "name": "Check User Timeout",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [650, 400]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.timeout_until }}",
              "value2": true
            }
          ]
        }
      },
      "name": "Is User Timed Out?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [850, 400]
    },
    {
      "parameters": {
        "functionCode": "// Send timeout message\nconst timeoutUntil = new Date($input.item.json.timeout_until);\nconst now = new Date();\nconst remainingMinutes = Math.ceil((timeoutUntil - now) / 60000);\n\nreturn {\n  json: {\n    message: `⏸️ You are currently timed out for ${remainingMinutes} more minutes due to content policy violations.`,\n    sendMessage: true\n  }\n};"
      },
      "name": "Send Timeout Notice",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.isCommand }}",
              "value2": true
            }
          ]
        }
      },
      "name": "Is Command?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1050, 500]
    },
    {
      "parameters": {},
      "name": "Route to Command Handler",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1250, 400]
    },
    {
      "parameters": {},
      "name": "Route to Genre Detection",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1250, 600]
    }
  ],
  "connections": {
    "Telegram Webhook": {
      "main": [[{"node": "Normalize Message", "type": "main", "index": 0}]]
    },
    "WhatsApp Webhook": {
      "main": [[{"node": "Normalize Message", "type": "main", "index": 0}]]
    },
    "Normalize Message": {
      "main": [[{"node": "Check User Timeout", "type": "main", "index": 0}]]
    },
    "Check User Timeout": {
      "main": [[{"node": "Is User Timed Out?", "type": "main", "index": 0}]]
    },
    "Is User Timed Out?": {
      "main": [
        [{"node": "Send Timeout Notice", "type": "main", "index": 0}],
        [{"node": "Is Command?", "type": "main", "index": 0}]
      ]
    },
    "Is Command?": {
      "main": [
        [{"node": "Route to Command Handler", "type": "main", "index": 0}],
        [{"node": "Route to Genre Detection", "type": "main", "index": 0}]
      ]
    }
  }
}
