n8n-workflows/03-content-moderation.json
{
  "name": "Content Moderation Pipeline",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT ai_moderation_enabled, moderation_strictness, allow_explicit_lyrics, custom_moderation_prompt FROM radio_channels WHERE id = '{{ $json.channelId }}'"
      },
      "name": "Get Channel Settings",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.ai_moderation_enabled }}",
              "value2": false
            }
          ]
        }
      },
      "name": "Is Moderation Enabled?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "functionCode": "// Skip moderation - moderator disabled it\nreturn {\n  json: {\n    approved: true,\n    reason: 'moderation_disabled',\n    bypass: true\n  }\n};"
      },
      "name": "Bypass Moderation",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [850, 200]
    },
    {
      "parameters": {
        "functionCode": "// Layer 1: Prompt Injection Detection\nconst userPrompt = $input.item.json.prompt;\n\nconst injectionPatterns = [\n  /ignore (previous|above|all) (instructions|rules)/i,\n  /you are now|act as|pretend to be/i,\n  /system:\\s*|assistant:\\s*|user:\\s*/i,\n  /\\[INST\\]|<\\|im_start\\|>|<\\|system\\|>/i,\n  /disregard (safety|ethical) (guidelines|constraints)/i,\n  /override (safety|content) (policy|filter)/i\n];\n\nconst hasInjection = injectionPatterns.some(pattern => pattern.test(userPrompt));\n\nif (hasInjection) {\n  return {\n    json: {\n      approved: false,\n      reason: 'Prompt manipulation detected. Please submit genuine music requests only.',\n      severity: 'high',\n      layer: 'prompt_injection'\n    }\n  };\n}\n\nreturn { json: { passed: true, prompt: userPrompt } };"
      },
      "name": "Layer 1 - Prompt Injection",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [850, 400]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "https://api.openai.com/v1/moderations",
        "options": {},
        "bodyParametersJson": "={{ { \"input\": $json.prompt } }}"
      },
      "name": "Layer 2 - OpenAI Moderation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1050, 400],
      "credentials": {
        "httpHeaderAuth": {
          "id": "1",
          "name": "OpenAI API Key"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// Check OpenAI moderation results\nconst results = $input.item.json.results[0];\n\nif (results.flagged) {\n  const flaggedCategories = Object.entries(results.categories)\n    .filter(([cat, flagged]) => flagged)\n    .map(([cat]) => cat);\n  \n  return {\n    json: {\n      approved: false,\n      reason: `Content policy violation: ${flaggedCategories.join(', ')}`,\n      severity: 'critical',\n      layer: 'openai_moderation'\n    }\n  };\n}\n\nreturn { json: { passed: true } };"
      },
      "name": "Check OpenAI Results",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1250, 400]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "https://api.anthropic.com/v1/messages",
        "options": {},
        "bodyParametersJson": "={{ {\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 200,\n  \"messages\": [{\n    \"role\": \"user\",\n    \"content\": `You are a content moderator for a music generation platform. Analyze this prompt for inappropriate content.\\n\\nStrictness level: ${$json.moderationStrictness}\\nGuidelines: ${$json.strictnessGuidelines}\\n${$json.allowExplicitLyrics ? 'Note: Explicit lyrics are allowed for this channel.' : 'Note: Explicit lyrics are NOT allowed.'}\\n\\nUser prompt: \"${$json.prompt}\"\\n\\nRespond in JSON format:\\n{\\n  \"approved\": boolean,\\n  \"reason\": \"brief explanation if rejected\",\\n  \"concerns\": [\"list\", \"of\", \"issues\"],\\n  \"severity\": \"low|medium|high\"\\n}`\n  }]\n} }}"
      },
      "name": "Layer 3 - Claude Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1450, 400],
      "credentials": {
        "httpHeaderAuth": {
          "id": "2",
          "name": "Anthropic API Key"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT word FROM blocked_content WHERE (channel_id = '{{ $json.channelId }}' OR channel_id IS NULL) AND (is_regex = false AND '{{ $json.prompt }}'::text ILIKE '%' || word || '%' OR is_regex = true AND '{{ $json.prompt }}'::text ~ word)"
      },
      "name": "Layer 4 - Blocklist Check",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [1650, 400]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO song_requests (channel_id, user_id, prompt, moderation_status, moderation_reason, moderation_score) VALUES ('{{ $json.channelId }}', '{{ $json.userId }}', '{{ $json.prompt }}', '{{ $json.approved ? \"approved\" : \"rejected\" }}', '{{ $json.reason }}', '{{ JSON.stringify($json.score) }}'::jsonb) RETURNING id"
      },
      "name": "Save Moderation Result",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [1850, 400]
    }
  ],
  "connections": {
    "Start": {
      "main": [[{"node": "Get Channel Settings", "type": "main", "index": 0}]]
    },
    "Get Channel Settings": {
      "main": [[{"node": "Is Moderation Enabled?", "type": "main", "index": 0}]]
    },
    "Is Moderation Enabled?": {
      "main": [
        [{"node": "Bypass Moderation", "type": "main", "index": 0}],
        [{"node": "Layer 1 - Prompt Injection", "type": "main", "index": 0}]
      ]
    },
    "Layer 1 - Prompt Injection": {
      "main": [[{"node": "Layer 2 - OpenAI Moderation", "type": "main", "index": 0}]]
    },
    "Layer 2 - OpenAI Moderation": {
      "main": [[{"node": "Check OpenAI Results", "type": "main", "index": 0}]]
    },
    "Check OpenAI Results": {
      "main": [[{"node": "Layer 3 - Claude Analysis", "type": "main", "index": 0}]]
    },
    "Layer 3 - Claude Analysis": {
      "main": [[{"node": "Layer 4 - Blocklist Check", "type": "main", "index": 0}]]
    },
    "Layer 4 - Blocklist Check": {
      "main": [[{"node": "Save Moderation Result", "type": "main", "index": 0}]]
    }
  }
}
