n8n_workflows/broadcast_director.json
{
  "name": "Broadcast Director",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "broadcast-trigger",
        "options": {}
      },
      "id": "trigger",
      "name": "Broadcast Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "broadcast-director"
    },
    {
      "parameters": {
        "url": "={{ $env.API_URL }}/api/queue/?status=generated&limit=1",
        "options": {}
      },
      "id": "get_next_song",
      "name": "Get Next Song",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.length > 0 }}",
              "value2": true
            }
          ]
        }
      },
      "id": "has_song",
      "name": "Has Song?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "const song = $input.first().json[0];\n\nconst djIntros = [\n  `Coming up next, we have a fantastic ${song.genre_hint || 'tune'} for you!`,\n  `This one was requested by one of our amazing listeners!`,\n  `Get ready for some ${song.genre_hint || 'great music'}!`,\n  `Here's something special from the request queue!`\n];\n\nconst intro = djIntros[Math.floor(Math.random() * djIntros.length)];\n\nreturn {\n  queue_id: song.id,\n  song_id: song.song_id,\n  prompt: song.original_prompt,\n  genre: song.genre_hint,\n  dj_intro: intro,\n  requester_id: song.telegram_user_id\n};"
      },
      "id": "prepare_broadcast",
      "name": "Prepare Broadcast",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 200]
    },
    {
      "parameters": {
        "url": "={{ $env.API_URL }}/api/songs/{{ $json.song_id }}",
        "options": {}
      },
      "id": "get_song_details",
      "name": "Get Song Details",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "🎵 <b>Now Playing</b>\n\n<b>{{ $json.title }}</b>\n🎸 {{ $json.genre || 'AI Generated' }}\n⏱ {{ $json.duration_formatted }}\n\n<i>{{ $('Prepare Broadcast').item.json.dj_intro }}</i>",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "announce",
      "name": "Announce in Chat",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1340, 200],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $env.LIQUIDSOAP_URL }}/next",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "file",
              "value": "={{ $('Get Song Details').item.json.local_file_path }}"
            }
          ]
        },
        "options": {}
      },
      "id": "queue_liquidsoap",
      "name": "Queue in Liquidsoap",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1560, 200]
    },
    {
      "parameters": {},
      "id": "no_song",
      "name": "No Song Available",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [900, 400]
    }
  ],
  "connections": {
    "Broadcast Trigger": {
      "main": [
        [
          {
            "node": "Get Next Song",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Next Song": {
      "main": [
        [
          {
            "node": "Has Song?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Song?": {
      "main": [
        [
          {
            "node": "Prepare Broadcast",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Song Available",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Broadcast": {
      "main": [
        [
          {
            "node": "Get Song Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Song Details": {
      "main": [
        [
          {
            "node": "Announce in Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Announce in Chat": {
      "main": [
        [
          {
            "node": "Queue in Liquidsoap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["radio", "broadcast", "liquidsoap"]
}
