n8n_workflows/queue_processor.json
{
  "name": "Radio Queue Processor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 30
            }
          ]
        }
      },
      "id": "trigger",
      "name": "Every 30 Seconds",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.API_URL }}/api/queue/?status=pending&limit=5",
        "options": {}
      },
      "id": "get_pending",
      "name": "Get Pending Items",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.length > 0 }}",
              "value2": true
            }
          ]
        }
      },
      "id": "has_items",
      "name": "Has Items?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "// Get first pending item\nconst item = $input.first().json[0];\n\n// Enhance prompt for Suno\nconst enhancedPrompt = item.original_prompt;\nconst genreHint = item.genre_hint || 'pop';\n\nreturn {\n  queue_id: item.id,\n  prompt: enhancedPrompt,\n  style: genreHint,\n  is_instrumental: item.is_instrumental || false\n};"
      },
      "id": "prepare_request",
      "name": "Prepare Suno Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 200]
    },
    {
      "parameters": {
        "url": "={{ $env.SUNO_API_URL }}/api/generate",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "prompt",
              "value": "={{ $json.prompt }}"
            },
            {
              "name": "make_instrumental",
              "value": "={{ $json.is_instrumental }}"
            }
          ]
        },
        "options": {
          "timeout": 300000
        }
      },
      "id": "call_suno",
      "name": "Generate with Suno",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "url": "={{ $env.API_URL }}/api/webhooks/suno/status",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "job_id",
              "value": "={{ $json.id }}"
            },
            {
              "name": "status",
              "value": "={{ $json.status }}"
            },
            {
              "name": "audio_url",
              "value": "={{ $json.audio_url }}"
            }
          ]
        },
        "options": {}
      },
      "id": "update_status",
      "name": "Update Queue Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1340, 200]
    },
    {
      "parameters": {},
      "id": "no_items",
      "name": "No Items",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [900, 400]
    }
  ],
  "connections": {
    "Every 30 Seconds": {
      "main": [
        [
          {
            "node": "Get Pending Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Pending Items": {
      "main": [
        [
          {
            "node": "Has Items?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Items?": {
      "main": [
        [
          {
            "node": "Prepare Suno Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Suno Request": {
      "main": [
        [
          {
            "node": "Generate with Suno",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate with Suno": {
      "main": [
        [
          {
            "node": "Update Queue Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["radio", "queue", "suno"]
}
